<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NM Player</title>
        <link rel="stylesheet" href="static\style.css"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#developer">Developer</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#read-more">Features</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="logo-container">
                <img src="static\images\nm-player.png" alt="Logo">
            </div>
            <h1>Welcome To NM Player Home Page</h1>
            <p>Captivating Sounds, Seamless Playback. NM Player</p>
        </header>
        <main>
            <div class="clickable-image">
                <a href="#" id="zoom-img">
                    <img src="static\images\nmpla.png" alt="nmpla">
                </a>
            </div>
            <section>
                <h2>Developer</h2>
                <p>
                    Nicolas Mabeleng is a Backend Software Engineer in the making with programming experience of 3 years. He studied Diploma in Information Technology at
                    the Central University of Technology in South Africa. Upon finishing up his studies, He enrolled in the Alx Africa Software Engineering Program to increase and
                    learn further to become tech enthusiast. He completed a Certificate in Software Developer with Nemisa where he learned about machine learning and started to grow 
                    his love and enthusiast for Artificial Intelligence. He also holds Microsoft Certificate in Azure Associate where he attended Azure Training at the Gauteng Microsoft Training Centre.
                </p>
            </section>
            <section>
                <h2>About</h2><ul>
                    <li>Features
                        <p>
                            NM Player is a free and open source cross-platform multimedia player and framework that plays most multimedia files as well as DVDs, Audio CDs, VCDs, and various streaming protocols.
                            Supported Multimedia formats: mp3, m4a, wma, webm, mp4, mkv & more.  
                        
                            Music Player Created with Python 3.12.2 using Tkinter library, Pygame 2.5.2 (SDL 2.82.3) and OS module. 
                            The tkinter library is used for making the Music Player GUI, os module for the file path, mixer module from pygame library for loading and controlling the music.
                        </p>
                    </li>
                    <li>Our Vision
                        <p>To be the world's top music-based entertainment lifestyle platform company.</p>
                    </li>
                    <li>Our Mission
                        <p>We seek to foster a society that values Multimedia both as a part of a universal listening, and as an essential expression of the user experience and smooth performance.</p>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Image Gallery</h2>
                <div class="image-gallery">
                    <img src= "static\images\nm-player.png" alt="nm-player">
                    <img src= "static\images\image2.png" alt="image2">
                    <img src="static\images\image.png" alt="image">
                    <img src="static\images\Screenshot.png" alt="Screenshot">
                </div>
            </section>
            <section>
                <h2>Video Gallery</h2>
                <div class="video-gallery">
                    <video width="320" height="240" controls>
                        <source src="static\videos\nmplayer.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <video width="320" height="240" controls>
                        <source src="static\videos\nmplayer.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
            <section>
                  <h2>Contact Me</h2>
                  <p>Follow Me on Social Media to find out more about new updates and release date. NM Player</p>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/mabeleng.nicolas"><img src="static\images\facebook-4-24.png" alt="Facebook"></a>
                    <a href="https://www.twitter.com/NicolasMabeleng"><img src="static\images\twitter-24.png" alt="Twitter"></a>
                    <a href="https://www.instagram.com/nicobellssa"><img src="static\images\instagram-24.png" alt="Instagram"></a>
                    <a href="https://www.linkedin.com/in/nicolas-mabeleng-52509566"><img src="static\images\linkedin-16.png" alt="LinkedIn"></a>
                  </div>
              </section>
        </main>
        <footer>
            <p>&copy; 2024 NM Player. Designed & Created by Nicolas Mabeleng [Akukapheli Group PTY(Ltd)]. All rights reserved.</p>
        </footer>
        <script src="static\js\script.js"></script>
    </body>
</html> 